<!DOCTYPE html>
<html lang="en" xmlns:cellpadding="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>OSINT Report</title>
  <link rel="stylesheet" href="./../template/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<h1><span class="blue">&lt;</span>OSINT<span class="blue">&gt;</span> <span class="yellow">Report</span></h1>

<div id="nmap-headline" class="div-headline">
	<h3>Nmap</h3>
</div>
<div id="nmap" class="div-container">

	<table class="container">
		<thead>
			<tr>
				<th><h1>IP</h1></th>
				<th><h1>IP Type</h1></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{nmap.ip_address}}</td>
				<td>{{nmap.ip_type}}</td>
			</tr>
		</tbody>
	</table>

	<table class="container">
		<thead>
			<tr>
				<th><h1>Host status</h1></th>
			</tr>
		</thead>
		<tbody>
			<tr>

				<td>{{nmap.host_status|capitalize}}</td>
			</tr>
		</tbody>
	</table>

	<table class="container">
		<thead>
			<tr>
				<th><h1>Host name</h1></th>
			</tr>
		</thead>
		<tbody>
			{% for x in nmap.host_names %}
			<tr>
				<td>{{x}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<table class="container">
		<thead>
			<tr>
				<th><h1>Protocol</h1></th>
				<th><h1>Port ID</h1></th>
				<th><h1>State</h1></th>
				<th><h1>Service</h1></th>
			</tr>
		</thead>
		<tbody>
			{% for port in nmap.ports %}
			<tr>
				<td>{{port['protocol']}}</td>
				<td>{{port['port_id']}}</td>
				<td>{{port['port_state']}}</td>
				<td>{{port['service_name']}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<table class="container">
		<thead>
			<tr>
				<th><h1>Other ports</h1></th>
				<th><h1>Quantity</h1></th>

			</tr>
		</thead>
		<tbody>
			{% for port in nmap.extraports %}
			<tr>
				<td>{{port['state']}}</td>
				<td>{{port['count']}}</td>

			</tr>
			{% endfor %}
		</tbody>
	</table>

	<table class="container">
		<thead>
			<tr>
				<th><h1>Summary</h1></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{nmap.summary}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div id="the-harvester-headline" class="div-headline">
	<h3>theHarvester</h3>
</div>

<div id="spiderfoot-headline" class="div-headline">
	<h3>Spiderfoot</h3>
</div>

<div id="recon-ng-headline" class="div-headline">
	<h3>Recon-ng</h3>
</div>

<div id="shodan-headline" class="div-headline">
	<h3>Shodan</h3>
</div>

<div id="virus-total-headline" class="div-headline">
	<h3>VirusTotal</h3>
</div>
<!-- partial -->
  <script  src="./../template/script.js"></script>

<h2>Based on frontend template created with love by <a href="https://github.com/pablorgarcia" target="_blank">Pablo García</a></h2>
</body>
</html>
