/*	
	Side Navigation Menu V2, RWD
	===================
	Author: https://github.com/pablorgarcia
 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 100%;
	  margin: 0 0;
      display: inline;
      padding: 0 0 1em 0;
}

.container table {
    width: 100%;
}

.container td, .container th {
      padding: 0.5% 0.25%;
      width: auto;

}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {

}

.div-headline {
    text-align: left;
      overflow: hidden;
      width: 80%;
      margin: 0 auto;
      display: block;
      padding: 0 0 0 0;
      margin-bottom: 1em;
      background-color: #323C50;
}

.div-container {
      text-align: left;
      overflow: hidden;
      width: 80%;
      margin: 0 auto;
      display: block;
      padding: 5px 0 5px 0;
      margin-bottom: 1em;
      background-color:#1F2739;
}

h3 {
  font-size:2em;
  font-weight: 400;
  text-align: left;
  display: block;
  line-height:0px;
  padding: 5px 0 5px 0;
  padding-left: 1em;
  color: #FB667A;
}

h4 {
  font-size:1.5em;
  font-weight: 400;
  text-align: left;
  display: block;
  line-height:0px;
  padding: 20px 0 0px 0;
  padding-left: 1em;
  color: #FB667A;
  margin-bottom: 1em;
}

.tab {
    padding: 0 0 0 0;
    display: block;
    margin-bottom: 10px;
}


.nmap-first-line {
    width: 5% !important;
}

.nmap-second-line {
    width: 5% !important;
}

.nmap-ports-protocol {
    width: 32.5% !important;
}

.nmap-summary {
    width: 5% !important;
}

.harvester-line {
    width: 36.65% !important;
}

.virustotal-first-line {
    width: 10% !important;
}

.virustotal-second-line {
    width: 5% !important;
}

.virustotal-third-line {
    width: 10% !important;
}

.virustotal-fourth-line {
    width: 20% !important;
}

.virustotal-fifth-line {
    width: 40% !important;
}

.spiderfoot-line {
    width: 5% !important;
}

.shodan-first-line {
    width: 35% !important;
}

.shodan-second-line {
    width: 5% !important;
}

.shodan-third-line {
    width: 45% !important;
}

.shodan-fourth-line {
    width: 2% !important;
}

.shodan-fifth-line {
    width: 2% !important;
}